.checkbox-soup {
    display: flex;
    flex-direction: column;
    /*align-items: center;  optional - this centers the components horizontally */
    background-color: pink;
}

.controller {
    margin-bottom: 10px; /* optional - this adds some spacing between the components */
  }

.firstName {
    color: white;
}